<header>
  <h1>{{title}}</h1>
  <a href='/new'>New Post</a>
</header>
{{#posts}}
<article>
  <header>
  <h2><a href='/{{id}}'>{{title}}</a></h2>
  <p>Posted on: {{created_at}}</p>
  </header>
  {{{body}}}
</article>
{{/posts}}


