<header>
   <h1>{ { {{title}} } }</h1>
</header>
{{#post}}
<article>
  <nav>
    <ul>
      <li><a href="/" class='button'>Index</a></li>
      <li><a href="/{{id}}/edit" class='button'>Edit</a></li>
      <li>
        <form action='/{{id}}' method='post'>
          <input type='hidden' name='_method' value='delete' />
          <button>Delete</button>
        </form>
      </li>
    </ul>
  </nav>
  <header>
    <h2>{{title}}</h2>
  </header>
  <div id='post_content'>
    {{{body}}}
  </div>
  <footer>
    <p>
      Posted on: {{created_at}}
      &nbsp;&nbsp;|&nbsp;&nbsp;
      Updated on: {{updated_at}}
    </p>
  </footer>
</article>
{{/post}}


